<fs-examples [config]="config">
  <fs-example
      name="All Validations"
      componentName="first-example">
    <first-example></first-example>
  </fs-example>
  <fs-example
      name="Function Validations"
      componentName="function">
    <function></function>
  </fs-example>
  <fs-example
      name="Emit Example"
      componentName="emit-example">
    <emit-example></emit-example>
  </fs-example>
  <!-- <fs-example
      name="Broadcast Example"
      componentName="broadcast-example">
    <broadcast-example></broadcast-example>
  </fs-example> -->
  <fs-example
      name="Nested Form Fields"
      componentName="nested"
      componentNames="nested-form">
    <nested></nested>
  </fs-example>
  <fs-example
      name="Class & Selector Targeting"
      componentName="non-material">
    <non-material></non-material>
  </fs-example>
  <fs-example
      name="Submit Observable"
      componentName="submit-observable">
    <submit-observable></submit-observable>
  </fs-example>
  <fs-example
      name="Deactivate Pattern"
      componentName="deactivate">
    <deactivate></deactivate>
  </fs-example>
  <fs-example
      name="Dialog Examples"
      componentName="dialog-example">
    <dialog-example></dialog-example>
  </fs-example>
  <fs-example
      name="Drawer Examples"
      componentName="drawer-example">
    <drawer-example></drawer-example>
  </fs-example>
  <fs-example
      name="Tabs"
      componentName="tabs-example">
    <tabs-example></tabs-example>
  </fs-example>
  <!-- <fs-example
      name="Form Group"
      componentName="form-group-example">
    <app-form-group></app-form-group>
  </fs-example> -->
  <fs-example
      name="Form Element Projection"
      componentName="template">
    <app-template></app-template>
  </fs-example>
</fs-examples>