<form fsForm [submit]="submit" #form="ngForm">

  <mat-form-field>
    <input placeholder="Required"
      [(ngModel)]="required"
      name="required"
      matInput
      fsFormRequired/>
  </mat-form-field>

  <fieldset>
    <legend>Actions</legend>
    <button mat-raised-button color="primary" type="submit" (click)="status(true)">Successfull Submit</button>
    <button mat-raised-button color="primary" type="submit" (click)="status(false)">Unsuccessfull Submit</button>
  </fieldset>
</form>
