<form fsForm [submit]="submit" #form="ngForm">

  <div
    fxLayout="column">
    <mat-form-field>
      <input placeholder="Required"
        [(ngModel)]="required"
        name="required"
        matInput
        required/>
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Delay"
        [(ngModel)]="delay"
        name="delay"
        matInput/>
        <div matSuffix>ms</div>
    </mat-form-field>
  </div>

  <fieldset>
    <legend>Actions</legend>
    <button mat-raised-button color="primary" type="submit" (click)="status(true)">Successfull Submit</button>
    <button mat-raised-button color="primary" type="submit" (click)="status(false)">Unsuccessfull Submit</button>
    <button mat-button color="primary" type="submit" (click)="status(true)">Successfull Submit</button>
    <button mat-button color="primary" type="submit" (click)="status(false)">Unsuccessfull Submit</button>
  </fieldset>
</form>
