<form (fsForm)="save()" (submit)="submitting()" (invalid)="invalid()">
  <div fxLayout="column">
    <mat-form-field [hidden]="hidden" *ngIf="render">
      <input placeholder="Value >= 3 and <=8"
        [(ngModel)]="minMaxInput"
        name="minMaxInput"
        matInput
        [fsFormRequired]="required"
        fsFormMin="3"
        fsFormMax="8"
        fsFormMax="8"
        fsFormRequiredMessage="This is custom required message"
        />
    </mat-form-field>

    <fs-radio-group [(ngModel)]="radioRequired" label="Required" name="radio_required" [fsFormRequired]="required" fxLayout="column">
      <mat-radio-button [value]="5">5</mat-radio-button>
      <mat-radio-button [value]="4">4</mat-radio-button>
      <mat-radio-button [value]="3">3</mat-radio-button>
      <mat-radio-button [value]="2">2</mat-radio-button>
      <mat-radio-button [value]="1">1</mat-radio-button>
    </fs-radio-group>

    <fs-autocomplete-chips
      [hidden]="hidden" *ngIf="render"
      [(ngModel)]="chips"
      [fetch]="fetchChips"
      placeholder="Autocomplete Chips"
      removable="true"
      draggable="true"
      [fsFormRequired]="required"
      name="chips">
        <ng-template let-data="item" fs-autocomplete-chip>
          {{ data.name }}
        </ng-template>
    </fs-autocomplete-chips>

    <mat-form-field [hidden]="hidden" *ngIf="render">
        <input placeholder="5 to 10 characters in length"
          [(ngModel)]="lengthInput"
          name="lengthInput"
          matInput
          [fsFormRequired]="required"
          fsFormMinLength="5"
          fsFormMaxLength="10"
          />
    </mat-form-field>

    <div fxLayout="row" [hidden]="hidden" *ngIf="render">
      <mat-form-field>
          <input placeholder="Password"
            #passwordInput
            name="password"
            [(ngModel)]="password"
            [fsFormRequired]="required"
            matInput
            />
        </mat-form-field>
      <mat-form-field>
        <input placeholder="Password Confirm"
          name="password_confirm"
          [(ngModel)]="password_confirm"
          [fsFormRequired]="required"
          [fsFormCompare]="passwordInput"
          matInput
          />
      </mat-form-field>
    </div>

    <mat-form-field [hidden]="hidden" *ngIf="render">
      <input placeholder="Integer"
        [(ngModel)]="integer"
        name="integer_input"
        matInput
        fsFormInteger
        />
    </mat-form-field>

    <mat-form-field [hidden]="hidden" *ngIf="render">
      <input placeholder="Email"
        [(ngModel)]="email"
        name="email_input"
        matInput
        fsFormEmail
        />
    </mat-form-field>

    <mat-form-field [hidden]="hidden" *ngIf="render">
      <input placeholder="Emails"
        [(ngModel)]="emails"
        name="emails_input"
        matInput
        [fsFormEmails]="required"
        />
    </mat-form-field>

    <mat-form-field [hidden]="hidden" *ngIf="render">
      <input placeholder="Phone"
        [(ngModel)]="phone"
        name="phone_input"
        matInput
        fsFormPhone
        />
    </mat-form-field>

    <mat-form-field [hidden]="hidden" *ngIf="render">
      <input placeholder="Numeric"
        [(ngModel)]="numeric"
        name="numeric_input"
        matInput
        fsFormNumeric
        />
    </mat-form-field>

    <mat-form-field [hidden]="hidden" *ngIf="render">
      <input placeholder="Pattern"
        [(ngModel)]="pattern"
        name="pattern_input"
        matInput
        fsFormPattern="[0-9]{2,}"
        />
    </mat-form-field>

    <mat-form-field [hidden]="hidden" *ngIf="render">
      <input matInput fsDatePicker [fsFormRequired]="required" [(ngModel)]="datepicker" readonly name="datepicker" placeholder="Date">
    </mat-form-field>

    <fs-checkbox-group matInput [(ngModel)]="checkbox" [fsFormRequired]="required" label="Checkbox Group" name="checkbox" [hidden]="hidden" *ngIf="render">
      <mat-checkbox *ngFor="let item of items" [value]="item">{{ item.name }}</mat-checkbox>
    </fs-checkbox-group>

    <mat-form-field fxFlex>
      <input matInput
        fsDatePickerRange
        fsFormDateRange
        [fsFormRequired]="required"
        [(ngModel)]="daterange"
        [(ngModelStart)]="start_date"
        [(ngModelEnd)]="end_date"
        view="datetime"
        name="datetimerangepicker"
        placeholder="Date Time Range">
    </mat-form-field>

    <fieldset>
      <legend>Actions</legend>
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="primary" type="button" (click)="required = !(!!required)">{{required ? 'Disable Required' : 'Enable Required'}}</button>
      <button mat-raised-button color="primary" type="button" (click)="hidden = !(!!hidden)">{{hidden ? 'Show' : 'Hide'}} Inputs</button>
      <button mat-raised-button color="primary" type="button" (click)="render = !(!!render)">{{render ? 'Destroy' : 'Render'}} Inputs</button>
    </fieldset>
  </div>
</form>
