.buttons {
  display: flex;
  flex-grow: 1;
  align-items: center;

  &.save-create .close {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

:host {
  display: flex;
  flex-grow: 1;
}

@media only screen and (max-width: 599px) {
  .buttons {
    flex-direction: column;
  }
}