<div
    class="form-buttons"
    [ngClass]="{ 'save-create': save || create }">
  <ng-container *ngIf="save || create">
    <button
        mat-button
        type="submit"
        color="primary"
        [name]="name">
      {{ create ? 'Create' : 'Save' }}
    </button>
    <button
        mat-button
        type="button"
        class="cancel-button"
        [disabled]="close && !dirty && !create"
        [mat-dialog-close]="null">
      Cancel
    </button>
  </ng-container>
  <ng-container *ngIf="done">
    <button
        mat-button
        type="button"
        color="primary"
        [mat-dialog-close]="null">
      Done
    </button>
  </ng-container>
  <ng-container *ngIf="save || create">
    <ng-template [ngTemplateOutlet]="content"></ng-template>
  </ng-container>
  <ng-container *ngIf="close">
    <button
        mat-button
        type="button"
        class="close-button"
        fsFormDialogClose
        [closeData]="closeData"
        [color]="dirty ? 'basic' : 'primary'">
      Close
    </button>
  </ng-container>
  <ng-container *ngIf="!(save || create)">
    <ng-template [ngTemplateOutlet]="content"></ng-template>
  </ng-container>
</div>
<ng-template #content>
  <ng-content></ng-content>
</ng-template>