<form (fsForm)="save()" (submit)="submitting()" (invalid)="invalid()" #form="ngForm" [dirtySubmitButton]="false">
  <div class="fs-column">
   <mat-form-field>
      <input
        placeholder="Value >= 3 and <=8"
        [(ngModel)]="minMaxInput"
        name="minMaxInput"
        matInput
        fsFormRequired
        [fsFormMin]="3"
        [fsFormMax]="8"
        fsFormMinMessage="This is custom lesser than $(1) message"
        fsFormMaxMessage="This is custom greater than $(1) message"
        [validateMessages]="{ required: 'This is custom required message' }"
        />
    </mat-form-field>

    <fieldset>
      <legend>Actions</legend>
      <div class="fs-row.gap-xs">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="primary" type="button" (click)="emitSubmit()">Emit Submit</button>
      </div>
    </fieldset>

    <fieldset>
      <legend>Submit Validation Status</legend>
      <div>{{status}}</div>
    </fieldset>
  </div>
</form>
