<form (fsForm)="save()" (submit)="submitting()" (invalid)="invalid()" #form="ngForm">
  <div fxLayout="column">
   <mat-form-field>
      <input  placeholder="Value >= 3 and <=8"
        [(ngModel)]="minMaxInput"
        name="minMaxInput"
        matInput
        [fsFormRequired]="required"
        fsFormMin="3"
        fsFormMax="8"
        fsFormRequiredMessage="This is custom required message"
        />
    </mat-form-field>

    <fieldset>
      <legend>Actions</legend>
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="primary" type="button" (click)="emitSubmit()">Emit Submit</button>
    </fieldset>

    <fieldset>
      <legend>Submit Validation Status</legend>
      <div>{{status}}</div>
    </fieldset>
  </div>
</form>
