<form fsForm [submit]="save">
  <fs-dialog>
    <h1 mat-dialog-title>Create Account</h1>
    <div mat-dialog-content>
      <div class="fs-column">
        <mat-form-field>
          <input
            placeholder="Name"
            matInput
            [required]="true"
            [(ngModel)]="account.name"
            name="name">
        </mat-form-field>
        <mat-form-field>
          <input
            placeholder="Email"
            matInput
            [(ngModel)]="account.email"
            name="email">
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions>
        <fs-form-dialog-actions
            [create]="!account.id">  
          <button
              mat-button
              type="button">
            Other Action
          </button>
        </fs-form-dialog-actions>
    </div>
</fs-dialog>
</form>
