.form-group,
.fs-form-wrapper {
  position: relative;
  margin-bottom: 1.25em;

  &.ng-invalid {
    color: #f44336;
  }

  .label,
  .fs-form-label {
    font-size: 70%;
  }

  .messages,
  .fs-form-message {
    position: absolute;
    bottom: -16px;
    top: unset;
    font-size: 70%;
  }
}
