<form (fsForm)="save()">
  <div class="fs-form-wrapper">
    <div class="fs-form-label">
      Standard Class Targeting
    </div>
    <input
      type="text"
      name="phone"
      fsFormRequired
      fsFormPhone
      [(ngModel)]="phone2">
    <div class="fs-form-message">
      <div class="fs-form-hint">
        Format 9999999999
      </div>
    </div>
  </div>
  <button
      mat-flat-button
      color="primary">
    Submit
  </button>
</form>
<br>
<br>
<form
    (fsForm)="save()"
    wrapperSelector=".form-group"
    messageSelector=".messages"
    labelSelector=".label"
    hintSelector=".hint">
  <div class="form-group">
    <div class="label">
      Custom Selector Targeting
    </div>
    <input
      type="text"
      name="phone"
      fsFormRequired
      [(ngModel)]="phone1">
    <div class="messages">
      <div class="hint">
        Format 9999999999
      </div>
    </div>
  </div>
  <button
      mat-flat-button
      color="primary">
    Submit
  </button>
</form>