<form (fsForm)="save()">
  <div class="fs-column">
    <mat-form-field>
      <input placeholder="Firstname"
        [(ngModel)]="firstname"
        name="firstname"
        matInput
        fsFormRequired="true"/>
    </mat-form-field>

    <ng-container fsFormTemplateOutlet
                  [template]="tmpl" [context]="{label: 'Email'}">
    </ng-container>

    <button
        mat-raised-button
        color="primary"
        type="submit">
      Submit
    </button>
  </div>
</form>

<ng-template #tmpl let-label="label">
  <mat-form-field fsFormTemplate>
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      required
      [(ngModel)]="email"
      name="email">
  </mat-form-field>
</ng-template>

