<fs-examples
  title="Form Validation"
  [githubUrl]="environment.githubUrl"
  [npmUrl]="environment.npmUrl">

  <fs-example title="All Validations" componentName="first-example">
    <first-example></first-example>
  </fs-example>

  <fs-example title="Function Validations" componentName="function">
    <function></function>
  </fs-example>

  <fs-example title="Emit Example" componentName="emit-example">
    <emit-example></emit-example>
  </fs-example>

  <fs-example title="Broadcast Example" componentName="broadcast-example">
    <broadcast-example></broadcast-example>
  </fs-example>

  <fs-example title="Nested Form Fields" componentName="nested" componentNames="nested-form">
    <nested></nested>
  </fs-example>
</fs-examples>
