<form
    fsForm
    [submit]="submit">
  <div class="fs-column">
    <mat-form-field>
      <input
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
        matInput
        fsFormEmail
        required>
    </mat-form-field>
    <div class="fs-row.gap-xs">
      <button
          mat-flat-button
          color="primary"
          type="submit">
        Save
      </button>
      <button
          mat-flat-button
          type="button"
          (click)="confirm()">
        Manually Confirm
      </button>
      <a
          mat-flat-button
          [routerLink]="['/leave']">
        Leave Page
      </a>
    </div>
  </div>
</form>