<form fsForm [submit]="save" [confirm]="{ title: 'Custom Unsaved Changes Title', message: 'Custom unsaved message'}">
  <fs-dialog>
    <h1 mat-dialog-title>Add Animal</h1>
    <div mat-dialog-content>
      <mat-tab-group fsTabs [(selectedName)]="tab">
        <mat-tab label="Tab 1" name="tab-1">
          <div fxLayout="column">
            <mat-form-field>
              <input
                placeholder="Name"
                matInput
                [required]="true"
                [(ngModel)]="animal.name"
                name="name">
            </mat-form-field>
            <mat-form-field>
              <input
                placeholder="Color"
                matInput
                [(ngModel)]="animal.color"
                name="color">
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="Tab 2" name="tab-2">Content</mat-tab>
        <mat-tab label="Tab 3" name="tab-3">Content</mat-tab>
      </mat-tab-group>
    </div>
    <div mat-dialog-actions>
        <fs-form-dialog-actions
          [save]="tab === 'tab-1'"          
          [close]="true">
          <button 
              *ngIf="tab === 'tab-1'"
              mat-button 
              type="button"
              color="warn"
              [matDialogClose]="null">
            Delete
          </button>
        </fs-form-dialog-actions>
    </div>
</fs-dialog>
</form>
