<div fsDrawerContent>
  <form
      fsForm
      [submit]="save"
      (submitted)="close()">
    <div class="content">
      <mat-form-field>
        <input
          placeholder="Name"
          matInput
          [(ngModel)]="animal.name"
          name="name">
      </mat-form-field>
    </div>
    <button
        mat-flat-button
        color="primary">
      Save
    </button>
    <button
        mat-button
        type="button"
        (click)="close()">
      Cancel
    </button>
  </form>
</div>